# Arquivos de build e dependências
target/
build/

# Arquivos de configuração local do IDE
.idea/
*.iml

# Arquivos de log
*.log
*.log.*

# Arquivos de configuração específicos
application.properties
application.yml

# Arquivos de build do Maven/Gradle
mvnw
mvnw.cmd
.mvn/

# Arquivos temporários ou de backup
*~
.*.swp
