body {
    font-family: 'Poppins', sans-serif;
    color: #333; 
}
.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.profile-picture img {
    width: 100px;
    height: 100px;
}

.list-group-item {
    font-size: 1.1rem;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .profile-picture img {
        width: 120px;
        height: 120px;
    }

    .container {
        max-width: 1000px;
    }

    .list-group-item {
        font-size: 1.2rem;
    }
}

